.jumbo{
    display: flex;
    justify-content: center;
    background:linear-gradient(360deg,#FBFBFB,#C6E7FF,#D4F6FF);
    background-size: 180% 180%;
  animation: jumbo 18s ease infinite;
    
}

@keyframes jumbo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper-itemright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 400px;
    
}


.name1{
    font-family: Ubuntu;
    font-size: 1rem;
    font-weight: 900px;
    margin: 0px;
}

.name{
    font-family: Roboto, serif;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0px;
    padding: 0px;
    font-size: 20px;
    cursor: pointer;
}
.name:hover{
  letter-spacing: 0.5px;
  transition: 0.5s ease-in-out;
  color: rgb(32, 38, 109);
  text-decoration: underline;
}
.name2{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed";
}

#Text-item{
  cursor: pointer;
  font-family: "Roboto Condensed";
  font-weight: 900;
  
}
#Text-item:hover{
  color: blue;
  letter-spacing: 0.1px;
  transition: 0.5s ease-in-out;
  background-color: #C6E7FF;
  border-radius: 5px ;
  padding: 5px 8px;

}
    
@media(max-width :470px){
    .jumbo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
}
@media(max-width :400px){
    .jumbo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 410px;
        text-align: center;
        
    }
    
}

@media(max-width :400px){
  .nav{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 410px;
      text-align: center;
      
  }
  
}

@media(max-width :400px){
  .skills{
      width: 470px;
      
  }
  
}
@media(max-width :400px){
  .portfolio{
      width: 470px;
      
  }
  
}
@media(max-width :400px){
  .contact{
      width: 470px;
  }
  
}
@media(max-width :400px){
  .last{
      width: 470px;
  }
  
}
